* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 2000px;
}

.upper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px 15px;
  margin-top: -170px;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.top {
  color: #f9faf8;
  font-size: 24px;
}
.upper-up {
  background-color: #1f2937;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 120px;
}
.upper-up .upper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
li {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

img {
  height: 250px;
  width: 500px;

  margin-left: 40px;
}

.big-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 40px;
}

.small-text {
  color: #e5e7eb;
  font-size: 18px;
  margin-top: 20px;
}

.upper-button {
  border: none;
  color: white;
  padding: 5px 26px;
  border-radius: 5px;
  background-color: #3882f6;
  margin-top: 20px;
}

.mid-header {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 32px;
  color: #1f2937;
  text-align: center;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.images-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  text-align: center;
  margin: 10px;
}

.image-container img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 30px;
  border: 4px solid cornflowerblue;
}

.image-container .text {
  font-size: 18px;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.inspo {
  background-color: #e5e7eb;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}
.inspo .text {
  font-size: 36px;
  font-family: light italic;
  color: #1f2937;
  padding-right: 8px;
  padding-left: 16px;
  margin-bottom: 10px;
}
.inspo .author {
  font-size: 26px;
  font-family: light italic;
  color: #1f2937;
}

.down {
  background-color: #3882f6;
  height: 20vh;
  display: flex;
  width: 1000px;
  margin-top: 100px;
  justify-content: space-evenly;
  align-items: center;
}

.down .up-text {
  font-size: 24px;
}

.down .down-text,
.up-text {
  color: #f9faf8;
  font-family: Tahoma;
}

.button-down {
  border: 2px solid white;
  color: white;
  padding: 5px 26px;
  border-radius: 5px;
  background-color: #3882f6;
  margin-top: 20px;
}

.text-co {
  display: flex;
  flex-direction: column;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  height: 75px;
}

footer .last {
  color: white;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
}
