* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 1000px;
}

.upper {
    background-color: #1F2937;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px; /* Added padding for space around content */
}

.top {
    color: #F9FAF8;
    font-size: 24px;
}

li {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

img {
    height: 250px;
    width: 500px;
    order: 3;
}

.big-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 40px;
}

.small-text {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 20px;
}

.upper-button {
    border: none;
    color: white;
    padding: 5px 26px;
    border-radius: 5px;
    background-color: #3882F6;
    margin-top: 20px;
}

.mid-header {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 32px;
    color: #1F2937;
    text-align: center;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.images-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.image-container {
    text-align: center; 
    margin: 10px; 
}

.image-container img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 30px;
    border: 4px solid cornflowerblue;
}

.image-container .text {
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inspo {
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}
.inspo .text {
    font-size: 36px;
    font-family: light italic;
    color: #1F2937;
    padding-right: 8px;
    margin-bottom: 10px;
}
.inspo .author {
    font-size: 26px;
    font-family: light italic;
    color: #1F2937;
   
}